.doclist {
  padding: 0 15px;
  margin-right: @tagPanelWidth;

  .list-content {
    animation: fadeIn 1s ease;
  }
}

.tagpanel {
  width: @tagPanelWidth;
  padding: 0 15px;
  float: right;

  .list-content {
    animation: fadeIn 1s ease;
  }

  .tag { margin-bottom: 5px; }
}

.searchbox {
  position: relative;
  margin-bottom: 5px;

  input {
    padding: 10px 10px 10px 24px;
  }

  i {
    position: absolute;
    top: 12px;
    left: 4px;
  }
}

.slip {
  padding: 10px;
  border-bottom: 1px solid @border_color;

  .help-text {
    margin-right: 15px;
  }

  &:hover {
    background-color: #f5f5f5;
  }
}
.slip-title {
  margin: 8px 0;
  a {
    color: #4f4f4f;
    vertical-align: middle;

    &:hover {
      color: @color;
    }
  }
}

.pagination {
  margin: 15px -2px;

  .page {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 2px;
    padding: 4px 5px;
    color: #333;
    background-color: #eee;
    text-align: center;

    &:hover {
      background-color: #ccc;
    }

    &.active {
      background-color: @color;
      color: #fff;
    }
  }
}
