.doclist {
  margin-right: @tagPanelWidth;
}

.searchbox {
  position: relative;
  margin-bottom: 15px;

  input {
    border-radius: 10px;
    padding-left: 35px;
  }

  i {
    position: absolute;
    left: 12px;
    top: 8px;
  }
}

.slip {
  padding: 0 10px 10px;
  border-bottom: 1px solid @border_color;

  .help-text {
    margin-right: 15px;
  }
}
.slip-title {
  margin: 8px 0;
  a {
    color: #4f4f4f;

    &:hover {
      color: @color;
    }
  }
}

.tagpanel {
  width: @tagPanelWidth;
  float: right;

  .tag {
    margin-bottom: 5px;
  }
}

.doclist, .tagpanel { padding: 0 15px; }

.pagination {
  margin: 15px -2px;

  .page {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 2px;
    padding: 5px;
    color: #333;
    background-color: #eee;
    text-align: center;

    &:hover {
      background-color: #ccc;
    }

    &.active {
      background-color: @color;
      color: #fff;
    }
  }
}
