.overview-wrapper{
	padding: 50px 30px 40px 30px;
}

.chart{
	position: relative;
	left: -40px;
	overflow: hidden;
	min-height: 200px;
}

.ibox-overview{
	min-width: 50px;
}

.jobContainer{
	overflow-x: auto;
}