.wrapper{
	padding: 20px 10px 40px 10px;
}

.ibox-content p{
	text-wrap: normal;
	line-height: 1.1;
	font-size: 30px;
	font-weight: 100;
}

.chart{
	position: relative;
	left: -40px;
	overflow: hidden;
}
.yearChart {
	height: 400px;
	width: 70%;
}

.blank{
	height: 100px;
	width: 100%;
}