@prefixSideClass: sidebar;
@contentClass: page-wrapper;
@headerClass: page-heading;
@breadcrumbClass: breadcrumb;

.@{prefixSideClass} {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: @sidebarBkg;
  font-size: @sidebarFontSize;
  font-weight: 600;
  width: @sidebarWidth; // consider media query
  color: @sidebarTextColor;

  .@{prefixSideClass}-header {
    background-color: @sidebarHeaderBkg;
    padding: 33px 25px;
  }

  .@{prefixSideClass}-avator {
    width: @sidebarAvatorDimension;
    height: @sidebarAvatorDimension;
    border-radius: 50%;
    background-color: #fff;
  }

  .@{prefixSideClass}-info {
    margin-top: 5px;
  }

  .@{prefixSideClass}-btn {
    display: block;
    position: relative;
    height: @sidebarLineHeight;
    padding: 14px 25px;
    color: @sidebarTextColor;
    text-shadow: 0 0 1px #333;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      transform-origin: center;
    }

    &:hover {
      background-color: @sidebarHoverColor;
      color: @sidebarActiveColor;
    }

    &.active {
      background-color: @sidebarActiveBkg;
      color: @sidebarActiveColor;

      &:before {
        height: 100%;
        width: 5px;
        background-color: @color;
        animation: scaleYOut .4s ease;
      }
    }
  }

  .@{prefixSideClass}-spliter {
    display: block;
    border-bottom: 2px solid #555;
    margin: 10px 0;
  }

  .text-hl { color: @sidebarHighlightColor; }
}

.@{contentClass} {
  margin-left: @sidebarWidth;
}

.@{headerClass} {
  padding: 0px 10px 20px 35px;
}

.@{breadcrumbClass} {
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin-bottom: 0;

  &>li {
    display: inline-block;
    font-weight: 200;

    &:not(:first-child):before {
      padding: 0 5px;
      color: #ccc;
      content: "/\00a0";
    }

    &:last-child {
      font-weight: 600;
    }

    a { color: inherit; }
  }
}
